.bestest
	&__title

	&__list
		margin-top: 15px
		@media(min-width:$md)
			margin-top: 20px
			display: flex
			flex-wrap: wrap
			justify-content: space-between
		@media(min-width:$xl)
			margin-top: 50px
	&__li
		@media(min-width:$md)
			width: 340px
			margin-bottom: 25px
		@media(min-width:$xl)
			width: 250px
	& .swiper-container
		padding-bottom: 40px
		@media(min-width:$md)
			padding-bottom: 0
	& .swiper-pagination
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		bottom: 0
		left: 0
		@media(min-width:$md)
			display: none
	& .swiper-pagination-bullet
		opacity: .15
		margin: 0 14px
	& .swiper-pagination-bullet-active
		width: 20px
		height: 20px
		opacity: 1
		position: relative
		background-color: var(--white)
		border: 1px solid var(--green)
		&:before
			content: ''
			width: 12px
			height: 12px
			border-radius: 100%
			background-color: var(--green)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)

.achievement
	&__header
		display: flex
		justify-content: space-between
		align-items: center
	&__icon-box
		width: 70px
		height: 70px
	&__icon
		width: 100%
		height: 100%
		object-fit: contain
	&__num
		font-weight: 800
		font-size: 66px
		line-height: 145%
		opacity: .05
	&__body
		margin-top: 15px
		@media(min-width:$md)
			margin-top: 20px
	&__title
		font-weight: 700
		font-size: 16px
		line-height: 165%
	&__p
		font-size: 14px
		line-height: 145.3%
		margin-top: 15px
		@media(min-width:$xl)
			width: 175px
