$xl: 1200px
$lg: 992px
$md: 768px
$xs: 576px

\:root
	--white: rgba(255,255,255,1)
	--white10: rgba(255,255,255,.1)
	--white30: rgba(255,255,255,.3)
	--white80: rgba(255,255,255,.8)
	--black0: rgba(51,51,51,0)
	--black: rgba(51,51,51,1)
	--black10: rgba(51,51,51,.10)
	--black15: rgba(51,51,51,.15)
	--black40: rgba(51,51,51,.4)
	--black50: rgba(51,51,51,.5)
	--black60: rgba(51,51,51,.6)
	--red: rgba(238,85,75,1)
	--green: rgba(132,183,57,1)
	--green60: rgba(132,183,57,.6)
	--green-dark: rgba(115,166,40,1)
	--light-green: rgba(230,241,215,1)
	--purple: rgba(108,57,183,1)
	--gray-light: rgba(249,249,249,1)
	--gray-dark: rgba(242,242,242,1)
	--gray: rgba(250,250,250,1)
	--input-color: rgba(153,153,153,1)

*
	font-family: Montserrat, sans-serif
*, a
	color: var(--black)

.fix-box
	height: 100%
	width: 290px
	min-width: 290px
	max-width: 1920px
	margin-left: auto
	margin-right: auto
	@media(min-width:$md)
		width: 708px
	@media(min-width:$xl)
		width: 1170px

.breadscrumb
	display: flex
	flex-wrap: wrap
	margin-bottom: 30px
	@media(min-width:$md)
		margin-bottom: 20px
.breadscrumb-item
	display: flex
	align-items: center
	&:not(:first-child)
		margin-left: 7px
		position: relative
		&:before
			content: '/'
			margin-right: 7px
			font-size: 12px
			line-height: 15px
			color: var(--black40)
	& a
		display: inline-block
		font-size: 12px
		line-height: 15px
		color: var(--black40)
		white-space: nowrap
		overflow: hidden
		max-width: 133px
		text-overflow: ellipsis
	&:last-child
		& a
			font-weight: 500
			color: var(--black)
		&:before
			color: var(--black)
.page-props
	margin-bottom: 15px
	@media(min-width:$xl)
		margin-bottom: 20px
	&__title
.text-mob-hidden
	display: none
	@media(min-width:$md)
		display: inline
		color: inherit
.text-pc-hidden
	display: inline
	color: inherit
	@media(min-width:$xl)
		display: none
.text-only-mob
	display: inline
	@media(min-width:$md)
		display: none
.product-line-box
	margin: 20px 0
	padding: 20px 0
	background-color: var(--gray)
	@media(min-width:$md)
		margin: 40px 0
		padding: 30px 0
	@media(min-width:$xl)
		margin: 60px 0
		padding: 60px 0
.section-header
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 20px
	@media(min-width:$md)
		margin-bottom: 25px
	@media(min-width:$xl)
		margin-bottom: 40px
	&__title
	&__header-link
		display: block
	&__slider-btns
		display: none
		@media(min-width:$md)
			display: flex
			justify-content: space-between
			width: 100px
	&__btn
		width: 40px
		height: 40px
		border-radius: 10px
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
		background-color: var(--white)
		display: flex
		justify-content: center
		align-items: center
		& svg
			width: 5px
			height: 10px
			& path
				stroke: var(--green)
		&.next
			& svg
				transform: scale(-1,1)
		&.swiper-button-disabled
			& svg path
				stroke: var(--black)
				opacity: .4
		&.swiper-button-lock
			display: none
.page-title
	font-weight: 700
	font-size: 22px
	line-height: 145%
	@media(min-width:$md)
		font-weight: 800
		font-size: 26px
	@media(min-width:$xl)
		font-size: 34px

.watch-more
	display: flex
	justify-content: center
	align-items: center
	margin-top: 30px
	@media(min-width:$md)
		margin-top: 40px
	@media(min-width:$xl)
		margin-top: 60px
	&__btn
		width: 290px
		@media(min-width:$md)
			width: 216px
		@media(min-width:$xl)
			width: 170px

.btn-green, .btn-gray
	display: flex
	justify-content: center
	align-items: center
	font-size: 14px
	line-height: 150%
	border-radius: 5px
	box-shadow: 0px 7px 15px -10px rgba(0, 0, 0, 0.15)
	padding-top: 13px
	padding-bottom: 13px
	padding-right: 32px
	padding-left: 32px
.btn-green
	font-weight: 700
	background-color: var(--green)
	color: var(--white)
.btn-gray
	background-color: var(--gray)
.margin40
	height: 40px
	width: 100%
.gray-color
	color: var(--black60)
.green-color
	color: var(--green)
.red-color
	color: var(--red)
.editor-content
	font-size: 14px
	line-height: 160%
	@media(min-width:$md)
		font-weight: 300
		font-size: 16px
		line-height: 160%
	& p
		margin: 20px 0
		@media(min-width:$md)
			margin: 25px 0
	& h2
		font-weight: 600
		font-size: 16px
		line-height: 20px
		margin: 15px 0
		@media(min-width:$md)
			margin: 20px 0
		@media(min-width:$xl)
			font-size: 18px
			line-height: 22px
	& img
		border-radius: 1%
		& + small
			display: block
			font-size: 12px
			line-height: 160%
			color: var(--black60)
			margin-top: 10px

.swiper-pagination
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	bottom: 0
	left: 0
.swiper-pagination-bullet
	opacity: .15
	margin: 0 14px
.swiper-pagination-bullet-active
	width: 20px
	height: 20px
	opacity: 1
	position: relative
	background-color: var(--white)
	border: 1px solid var(--green)
	&:before
		content: ''
		width: 12px
		height: 12px
		border-radius: 100%
		background-color: var(--green)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
.hidden
	visibility: hidden
	position: absolute
.banner
	border-radius: 5px
	overflow: hidden
	width: 100%
	height: 130px
	@media(min-width:$md)
		height: 170px
	&__link
		display: block
		width: 100%
		height: 100%
	&__ph
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center center

label
	&.label-txt
		height: 47px
		display: block
		position: relative
		& input
			height: 100%
			width: 100%
			background-color: var(--gray)
			font-size: 14px
			line-height: 145%
			color: var(--input-color)
			padding: 13px
			border-radius: 5px
			& + span.input-note
				position: absolute
				bottom: 13px
				left: 13px
				opacity: 0
				visibility: hidden
				transition: all ease .4s
			&:focus
				& + span.input-note
					bottom: -18px
					opacity: 1
					visibility: visible
					transition: all ease .4s
	&.label-checkbox
		position: relative
		padding-left: 28px
		display: block
		cursor: pointer
		& input
			visibility: hidden
			opacity: 0
			position: absolute
			&:checked + div
				background-color: var(--white)
				border: 1.5px solid var(--green)
				&:before
					content: url('../img/checkbox.svg')
					width: 14px
					height: 10px
					position: absolute
					bottom: 5px
					left: 50%
					transform: translateX(-50%)
		& div
			width: 20px
			height: 20px
			background-color: var(--gray)
			border-radius: 3px
			border: 1.5px solid var(--black10)
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			&.label-num
				margin-top: 15px
		& span
			font-size: 14px
			line-height: 145%
	&.label-radio
		position: relative
		padding: 15px 15px 15px 43px
		display: block
		background-color: var(--gray)
		border: 1px solid var(--black10)
		border-radius: 5px
		& input
			visibility: hidden
			opacity: 0
			position: absolute
			&:checked + div
				background-color: var(--green60)
				border: none
				&:before
					content: ''
					width: 11px
					height: 11px
					background-color: var(--green)
					border-radius: 100%
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%,-50%)
		& div
			width: 20px
			height: 20px
			background-color: var(--gray)
			border-radius: 100%
			border: 1.5px solid var(--black10)
			position: absolute
			left: 13px
			top: 50%
			transform: translateY(-50%)
		& span
			font-size: 14px
			line-height: 145%
.label-num
	position: relative
	padding: 5px
	background-color: var(--gray)
	border: 1px solid var(--black10)
	border-radius: 5px
	display: flex
	justify-content: space-between
	align-items: center
	width: 140px
	background-color: var(--gray)
	&__btn
		width: 34px
		height: 34px
		border-radius: 8px
		display: flex
		justify-content: center
		align-items: center
		background-color: var(--white)
		font-size: 21px
		line-height: 31px
		color: var(--black60)
	&__note
		position: absolute
		right: -50px
	& input
		display: block
		width: 60px
		text-align: center
		background-color: transparent
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button
			-webkit-appearance: none
