.product-page
	&__tabs
		display: none
		@media(min-width:$md)
			display: block
			overflow-x: auto
			background-color: var(--gray)
			border-radius: 10px
	&__tabs-box
		@media(min-width:$md)
			display: flex
			padding: 10px
			white-space: nowrap
	&__tab
		font-weight: 500
		font-size: 13px
		line-height: 19px
		padding: 12px 20px
		& + .product-page__tab
			margin-left: 10px
		&:hover
			color: var(--green)
		&.active
			position: relative
			color: var(--green)
			&:before
				content: ''
				width: 50px
				height: 5px
				border-radius: 3px 3px 0px 0px
				background-color: var(--green)
				position: absolute
				bottom: -10px
				left: 50%
				transform: translateX(-50%)
.product-page
	&__drop-down-list

	&__drop-down

.product-drop-down
	margin: 20px 0
	@media(min-width:$md)
	 margin: 0
	&.open
		& .product-drop-down__content
			display: block
		& .product-drop-down__header-icon
			transform: translateY(-50%) scale(1,-1)
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		border-radius: 10px
		background-color: var(--gray)
		padding: 15px 32px 15px
		position: relative
		@media(min-width:$md)
			display: none
	&__header-text
		font-weight: 500
		font-size: 13px
		line-height: 19px
	&__header-icon
		width: 12px
		height: 6px
		position: absolute
		top: 50%
		right: 15px
		transform: translateY(-50%)
	&__content
		display: none
		margin-top: 30px
	&__title
		font-weight: 600
		font-size: 18px
		line-height: 26px
		@media(min-width:$md)
			font-size: 20px
			line-height: 29px
		@media(min-width:$xl)
			font-size: 24px
			line-height: 35px
	&__subtitle
		font-weight: 700
		font-size: 16px
		line-height: 23px
		margin: 15px 0
		@media(min-width:$md)
			margin: 20px 0
		@media(min-width:$xl)
			font-size: 18px
			line-height: 26px
	&__p
		font-size: 14px
		line-height: 26px
		color: var(--black60)
		margin: 10px 0
		@media(min-width:$md)
			margin: 15px 0
		@media(min-width:$xl)
			font-size: 16px
			line-height: 30px
			margin: 20px 0
	&__links
		@media(min-width:$md)
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		@media(min-width:$xl)
			justify-content: flex-start
			flex-wrap: wrap
	&__link-box
		box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.05)
		border-radius: 5px
		padding: 16px
		display: flex
		align-items: center
		width: 100%
		& + .product-drop-down__link-box
			margin-top: 15px
			@media(min-width:$md)
				margin-top: 0
				margin-left: 30px
		@media(min-width:$md)
			width: 339px
		@media(min-width:$xl)
			width: auto
			padding: 20px 26px 20px 22px
	&__link-icon
		width: 41px
		height: 41px
		object-fit: contain
		margin-right: 20px
		@media(min-width:$md)
			width: 46px
			height: 46px
			margin-right: 22px
	&__link-text
	&__link-name
		font-weight: 600
		font-size: 14px
		line-height: 20px
		@media(min-width:$md)
			font-size: 16px
			line-height: 23px
	&__link-download
		font-size: 12px
		line-height: 17px
		margin-top: 6px
		@media(min-width:$md)
			font-size: 14px
			line-height: 20px
			margin-top: 7px
	&__video-list
		margin-top: 15px
		display: grid
		grid-gap: 15px
		@media(min-width:$md)
			grid-template-columns: repeat(2,1fr)
			grid-gap: 30px
			margin-top: 30px
		@media(min-width:$xl)
			grid-template-columns: repeat(3,1fr)
		& iframe
			width: 100%
			height: 180px
			@media(min-width:$md)
				height: 210px
			@media(min-width:$xl)
				height: 250px
	&__products
		display: flex
		overflow-x: auto
		& .product-card
			& + .product-card
				margin-left: 10px
				@media(min-width:$md)
					margin-left: 0
		@media(min-width:$md)
			display: grid
			grid-gap: 30px
			grid-template-columns: repeat(3,1fr)
		@media(min-width:$xl)
			grid-template-columns: repeat(4,1fr)
	&__params
		@media(min-width:$md)
			column-count: 2
			column-fill: balance
		@media(min-width:$xl)
			column-count: 3
	&__params-list
		& .product-drop-down__params-item
			&:nth-child(2n+1)
				background-color: var(--gray)
		& + .product-drop-down__params-list
			margin-top: 14px
	&__params-title
		padding: 15px
		color: var(--white)
		background-color: var(--black)
		font-weight: 700
		font-size: 12px
		line-height: 16px
		text-transform: uppercase
		@media(min-width:$xl)
			font-size: 14px
			line-height: 19px
	&__params-item
		padding: 12px 15px
		display: flex
		justify-content: space-between
		align-items: center
	&__params-item-name,
	&__params-item-value
		font-size: 14px
		line-height: 20px
		width: 45%
	&__params-item-name
		color: var(--black50)
	&__params-item-value
		text-align: right
		& a
			display: block
			text-align: right


.product-drop-down
	&__delivery
		margin: 20px 0
	&__delivery-item
		display: flex
		align-items: center
		padding: 15px
		box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.05)
		border-radius: 5px
		width: 100%
		@media(min-width:$md)
			width: 470px
		& + .product-drop-down__delivery-item
			margin-top: 15px
			@media(min-width:$md)
				margin-top: 20px
	&__delivery-icon
		width: 70px
		height: 50px
		object-fit: contain
		margin-right: 15px
		@media(min-width:$md)
			width: 90px
			height: 70px
	&__delivery-text
	&__delivery-title
		font-weight: 600
		font-size: 16px
		line-height: 20px
	&__delivery-title-cost

	&__delivery-subtitle
		font-size: 14px
		line-height: 23px
		color: var(--black50)
		margin-top: 10px
	& .payment
		width: 100%
		@media(min-width:$md)
			width: 570px
		@media(min-width:$xl)
			width: 100%
		&__systems
			display: grid
			grid-gap: 10px
			grid-template-columns: repeat(2,1fr)
			@media(min-width:$md)
				grid-template-columns: repeat(3,1fr)
				grid-gap: 30px
			@media(min-width:$xl)
				grid-template-columns: repeat(5,1fr)
		&__system
			width: 140px
			height: 80px
			@media(min-width:$md)
				width: 170px
				height: 90px
		&__system-logo

.product-page
	&__achievs
		display: none
		@media(min-width:$md)
			margin: 30px 0 40px
			padding: 20px 0
			border-top: 1px solid var(--black10)
			border-bottom: 1px solid var(--black10)
			display: flex
			justify-content: space-between
		@media(min-width:$xl)
			padding: 30px 0
			margin: 100px 0 40px
	&__achievs-item
		width: 216px
		@media(min-width:$xl)
			display: flex
			width: auto
	&__achievs-icon
		width: 48px
		height: 48px
		object-fit: contain
		display: block
		margin-right: auto
		margin-left: auto
		@media(min-width:$xl)
			margin-left: 0
			margin-right: 22px
	&__achievs-text

	&__achievs-title
		font-weight: 600
		font-size: 14px
		line-height: 20px
		text-align: center
		margin-top: 10px
		@media(min-width:$xl)
			font-size: 16px
			line-height: 23px
			margin-top: 0
			text-align: left
	&__achievs-subtitle
		font-size: 12px
		line-height: 17px
		text-align: center
		margin-top: 5px
		@media(min-width:$xl)
			font-size: 14px
			line-height: 20px
			text-align: left
.product-page
	& .page-title
		padding-bottom: 10px
		border-bottom: 1px solid var(--black10)
		@media(min-width:$md)
			padding-bottom: 15px
	&__articul-and-compare
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		margin: 10px 0 20px
		@media(min-width:$md)
			margin: 15px 0
			justify-content: flex-start
	&__articul
		font-weight: 500
		font-size: 14px
		line-height: 20px
		color: var(--black50)
		@media(min-width:$md)
			margin-right: 30px
	&__compare
		display: flex
		align-items: center
	&__compare-icon
		width: 20px
		height: 20px
		object-fit: contain
		margin-right: 7px
	&__compare-text
		font-weight: 500
		font-size: 14px
		line-height: 20px

.product-page
	&__about
		@media(min-width:$md)
			display: flex
			justify-content: space-between
.prod-info
	width: 100%
	@media(min-width:$md)
		width: 340px
	@media(min-width:$xl)
		width: 775px
		display: flex
		justify-content: space-between
	&__slider
		width: 100%
		& #productPageLarge
			&.swiper-container,
			& .swiper-wrapper
				width: 100%
				height: 320px
				@media(min-width:$md)
					height: 340px
				@media(min-width:$xl)
					height: 370px
			& .swiper-slide
				width: 100%
				height: 100%
				display: block
				& img
					width: 100%
					height: 100%
					object-fit: contain
			&.swiper-container
				padding-bottom: 40px
				@media(min-width:$md)
					padding: 0
			& .swiper-pagination
				@media(min-width:$md)
					display: none
		& #productPageThumbNail
			display: none
			@media(min-width:$md)
				display: flex
				position: relative
			& .swiper-container,
			& .swiper-wrapper
				width: 100%
				height: 60px
				@media(min-width:$xl)
					height: 70px
			& .swiper-slide
				width: 60px
				height: 100%
				object-fit: contain
				@media(min-width:$xl)
					width: 70px
		@media(min-width:$md)
			width: 340px
		@media(min-width:$xl)
			width: 370px
	&__params
		display: none
		@media(min-width:$md)
			display: block
			width: 375px

	&__params-sizes
	&__params-sizes,
	&__params-chars
		display: none
		@media(min-width:$xl)
			display: block

	&__params-title
		font-weight: 600
		font-size: 14px
		line-height: 20px
	&__params-sizes-box
		display: flex
		margin-top: 10px
	&__params-size
		font-weight: 500
		font-size: 12px
		line-height: 16px
		padding: 12px 15px
		border-radius: 10px
		background-color: var(--gray)
		& + .prod-info__params-size
			margin-left: 27px
			position: relative
			&:before
				content: 'x'
				font-weight: 500
				font-size: 12px
				line-height: 16px
				width: 7px
				position: absolute
				left: -17px
				top: 50%
				transform: translateY(-50%)

	&__params-chars
		margin-top: 30px
	&__params-chars-list
		margin-top: 15px
	&__params-chars-li
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
	&__params-chars-name,
	&__params-chars-value
		font-size: 14px
		line-height: 20px
	&__params-chars-name
		color: var(--black50)
	&__params-chars-value
	&__params-chars-dots
		border-bottom: 1px dotted var(--black50)
		margin: 0 4px
		height: 1em
		flex: 1 0
	&__params-chars-anchor
		margin-top: 20px
		display: block
		font-weight: 500
		font-size: 12px
		line-height: 17px
		padding: 12px 16px
		border-radius: 10px
		background-color: var(--gray)
		width: fit-content
	&__params-gift
		margin-top: 30px
		display: flex
		border-radius: 12px
		background-color: var(--gray)
		width: 340px
		@media(min-width:$xl)
			margin-top: 40px
			width: 370px
	&__params-gift-icon-box
		width: 64px
		height: 64px
		min-width: 64px
		background-color: var(--purple)
		border-radius: 12px
		display: flex
		justify-content: center
		align-items: center
		margin-right: 15px
	&__params-gift-icon
		width: 35px
		height: 35px
		object-fit: contain
	&__params-gift-title
		font-size: 14px
		line-height: 22px
		padding: 10px 15px 10px 0

.product-order-box
	width: 100%
	@media(min-width:$md)
		width: 340px
	@media(min-width:$xl)
		width: 270px
	& .prod-info__params-chars-list
		display: none
		@media(min-width:$md)
			display: block
			margin-bottom: 25px
		@media(min-width:$xl)
			display: none
	&__info
		padding: 15px 20px
		box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.05)
		border-radius: 5px
		& + .product-order-box__info
			margin-top: 30px
	&__info-header
		padding-bottom: 15px
		border-bottom: 1px solid var(--black10)
		display: flex
		align-items: center
	&__info-header-icon
		width: 34px
		height: 34px
		object-fit: contain
		margin-right: 15px
	&__info-header-title
		font-weight: 600
		font-size: 16px
		line-height: 20px
	&__info-geo
		display: flex
		align-items: center
		margin-top: 15px
	&__info-geo-icon
		width: 20px
		height: 20px
		object-fit: contain
		margin-right: 7px
	&__info-geo-text
		font-weight: 500
		font-size: 16px
		line-height: 20px
	&__info-subtitle
		font-weight: 500
		font-size: 14px
		line-height: 17px
		margin-top: 20px
		display: block
	&__info-small
		font-weight: 500
		font-size: 14px
		line-height: 17px
		color: var(--black50)
		margin-top: 5px
		display: block
	&__info

	&__info-price
		display: flex
		align-items: center
	&__info-price-current
		font-weight: bold
		font-size: 24px
		line-height: 29px
		@media(min-width:$md)
			font-size: 28px
			line-height: 34px
	&__info-price-old
		font-size: 16px
		line-height: 20px
		color: var(--black50)
		text-decoration-line: line-through
		margin-left: 10px
		@media(min-width:$md)
			font-size: 18px
			line-height: 22px
	&__info-store-count
		font-weight: 600
		font-size: 14px
		line-height: 20px
		margin-top: 15px
	&__info-btn-input
		display: flex
		justify-content: center
		align-items: center
		margin-top: 20px
		background-color: var(--gray)
		border-radius: 10px
		overflow: hidden
	&__info-btn
		font-size: 14px
		line-height: 21px
		white-space: nowrap
		z-index: 2
	&__info-input
		width: 95px
		display: flex
		padding: 14px 0
		& input
			width: 35px
		& button
			width: 60px
			display: flex
			align-items: center
		& button.minus
			justify-content: flex-end
		& button.plus
			justify-content: flex-start
	&__info-tocart
		margin-top: 15px
		font-weight: 500
		font-size: 14px
		line-height: 20px
		border-radius: 10px
		background-color: var(--gray)
		padding: 13px
		width: 100%
		display: flex
		justify-content: center
		align-items: center
.prod-info
	&__slider
		position: relative
	&__slider-sale
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		top: 10px
		left: 10px
		width: 40px
		height: 40px
		@media(min-width:$md)
			top: 15px
			left: 15px
	&__slider-sale-text
		font-style: normal
		font-weight: 900
		font-size: 14px
		line-height: 17px
		color: var(--white)
		z-index: 2
	&__slider-sale-bg
		width: 100%
		height: 100%
		object-fit: contain
		position: absolute
		top: 0
		left: 0
	&__slider-like
		width: 40px
		height: 40px
		border-radius: 10px
		display: flex
		justify-content: center
		align-items: center
		background-color: var(--gray)
		position: absolute
		top: 10px
		right: 10px
		z-index: 5
		@media(min-width:$md)
			top: 15px
			right: 15px
		&.active
			& .prod-info__slider-like-icon
				& path
					fill: var(--red)
	&__slider-like-icon
		width: 24px
		height: 24px
		object-fit: contain
		& path
			fill: var(--black40)
	&__slider-offer
		font-weight: 500
		font-size: 12px
		line-height: 15px
		padding: 7px
		background-color: var(--gray)
		border-radius: 4px
		position: absolute
		top: 250px
		left: 10px
		z-index: 2
		@media(min-width:$md)
			padding: 10px
			top: 295px
			left: 15px
		@media(min-width:$xl)
			top: 320px
	&__slider-brand-box
		display: none
		@media(min-width:$xl)
			display: flex
			align-items: center
			margin-top: 30px
			box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.05)
			border-radius: 5px
			padding: 15px 0 15px 20px
			width: 370px
			margin-right: auto
			margin-left: auto
	&__slider-brand-logo
		width: 100px
		height: 40px
		object-fit: contain
		padding-right: 20px
		border-right: 1px solid var(--black10)
	&__slider-brand-link
		width: 100%
		display: flex
		justify-content: center
		align-items: center
	&__slider-btn-next
		width: 40px
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		background-color: var(--black40)
		position: absolute
		right: 0
		top: 0
		z-index: 9
		@media(min-width:$md)
			width: 30px
		& svg
			width: 6px
			height: 12px
			object-fit: contain
			& path
				stroke: var(--white)

.lg-outer .lg-thumb
	margin: auto

.lg-outer *
	color: var(--white)